@tailwind base;
@tailwind components;
.btn {
    @apply text-xs font-bold py-1 px-2 rounded;
}

.btn-secondary {
    @apply bg-lime text-neutral-800;
}

.btn-secondary:hover {
    @apply bg-lightLime
}

.contact-icon {
    @apply fill-current w-4 h-4 mr-4 text-lime;
}

.index-icon {
    @apply fill-current w-8 h-8 text-lime;
}

.index-icon:hover {
    @apply text-black;
}

.contact-link {
    @apply text-sm;
}

.contact-link:hover {
    @apply text-lime;
}

.section-header {
    @apply text-lime text-xl border-l-4 border-lightLime pl-3 font-bold;
}

.item-header {
    @apply text-xl font-bold tracking-tight leading-relaxed text-neutral-700;
}

.item-sub {
    @apply text-neutral-700 tracking-wide text-sm;
}

.tag {
    @apply px-2 py-1 mr-2 mb-2 bg-lime text-sm text-neutral-800 inline-block capitalize font-light rounded;
}

.footer-social-link {
    @apply text-primary-900 mr-4;
}

.footer-social-link:hover {
    @apply text-primary-500;
}

.footer-social-icon {
    @apply h-6 fill-current;
}

.index {
    font-family: 'GeomanistBold', sans-serif;
}

@media (max:440px) {
    #top, #bottom, #left, #right {
        display: none;
    }
}

#top, #bottom, #left, #right {
    background: #41F137;
    position: fixed;
    z-index: 0;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 20px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 20px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.toggle-body {
    width: 7rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 4rem / 2);
    left: calc(50% - 7rem / 2);
    background: white;
    border-radius: 2rem;
    transform: rotate(0deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-body--on {
    transform: rotate(180deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: calc(50% - 2rem / 2);
    left: calc(27% - 2rem / 2);
    background: white;
    border-radius: 2rem;
    background: #FC3164;
    cursor: pointer;
    transform: rotate(0deg);
    transform-origin: 130% 115%;
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn--on {
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
    transform: rotate(-357deg);
    background: #3dbf87;
    transform-origin: 130% 150%;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

.github-svg {
    fill: #41F137;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 1;
}

.octo-arm {
    transform-origin: 130px 106px;
}

@keyframes octocat-wave {
    0 %, 100 % {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github - corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

@tailwind utilities;